body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff !important;
    background-image: url(../images/popcorn-1433327.jpg);
    width: 100% !important;
    height: 100% !important;
    background-size: 100%;
}

.container {
    color: #5f1315;
}

.featured-text { 
    border: none !important;
}

html,
body,
.login-box {
  height: 100%;
}


body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }

.border {
    border: 1px solid black;
}

.card-header {
    text-align: center !important;
}

.card-header img {
    border-radius: 10px;
}